<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Simple Web App Search</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
 <div class="container">
    <h1>Provide actions to execute</h1>
      <form action="get">
          <div class="form-group">
            <label>Loop up for existing name:</label>
            <input type="text" name="name">
            <input type="submit" value="Look">
          </div>
    </form>
    <br/>
    <form action="set">
        <label>Save name:</label>
        <input type="text" name="name">
        <input type="submit" value="Save">
    </form>
    <br/>
    <br/>
    <a href="/get?all=true">ListAllKeys</a>
  </div>

</body>
</html>